@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    font-family: 'Poppins';
}

.navbrand{
    color: white;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 0.05px black;
    z-index: 2;
}

.logonav{
    position:absolute;
    z-index: 1;
}

.navmenu{
    font-weight: 800;
    color: black;
}


